{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="hidden-xs hidden-sm">
        {% include 'AppBundle:List:_search.html.twig' %}
    </div>
    
    <div class="list-group">
        {% for task in tasks %}
            <a href="{{ path('task_info', {id: task.uuid}) }}" class="list-group-item modal-ajax">
                <h4 class="list-group-item-heading">

                    {% if task.pending %}
                        <i class="glyphicon glyphicon-eye-open"></i>
                    {% elseif task.completed %}
                        <i class="glyphicon glyphicon-ok"></i>
                    {% elseif task.deleted %}
                        <i class="glyphicon glyphicon-trash"></i>
                    {% elseif task.waiting %}
                        <i class="glyphicon glyphicon-time"></i>
                    {% elseif task.isRecurring %}
                        <i class="glyphicon glyphicon-refresh"></i>
                    {% endif %}

                    {{ task.description }}

                </h4>

                <p class="list-group-item-text">
                    {% if task.project %}
                        <span class="label label-success">Project: {{ task.project }}</span>
                    {% endif %}

                    {% if task.due %}
                        <span class="label label-warning">Due: {{ task.due }}</span>
                    {% endif %}

                    {% for tag in task.tags %}
                        <span class="label label-default">{{ tag }}</span>
                    {% endfor %}
                </p>
            </a>
        {% else %}
            <a href="#" class="list-group-item disabled">
                <h4 class="list-group-item-heading">No tasks found</h4>
            </a>
        {% endfor %}
    </div>

{% endblock %}
