{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

<div class="header">
    {% include 'AppBundle:List:_search.html.twig' %}
</div>

<div class="content">

    <ul class="list">
        {% for task in tasks %}
            {% set urgency = "low" %}
            {% if task.urgency > urgency_threshold.high %}
                {% set urgency = "high" %}
            {% elseif task.urgency > urgency_threshold.medium %}
                {% set urgency = "medium" %}
            {% endif %}
            <li>
                <div class="status urgency-{{ urgency }}">
                    {% if task.start %}
                        <i class="fa fa-rocket" data-toggle="tooltip" title="start"></i>
                    {% elseif task.pending %}
                        <i class="fa fa-ellipsis-h" data-toggle="tooltip" title="pending"></i>
                    {% elseif task.completed %}
                        <i class="fa fa-check" data-toggle="tooltip" title="completed"></i>
                    {% elseif task.deleted %}
                        <i class="fa fa-trash" data-toggle="tooltip" title="deleted"></i>
                    {% elseif task.waiting %}
                        <i class="fa fa-time" data-toggle="tooltip" title="waiting"></i>
                    {% elseif task.isRecurring %}
                        <i class="fa fa-refresh" data-toggle="tooltip" title="recurring"></i>
                    {% endif %}
                </div>

                <a href="{{ path('task_info', {id: task.uuid}) }}"
                   class="item modal-ajax  {% if task.start %}list-group-item-warning{% endif %}">

                    <div class="heading">
                        {{ task.description }}
                    </div>

                    <div class="info">
                        <ul class="tags">

                        {% if task.project %}
                            <li>
                                <i class="fa fa-folder-open"></i> {{ task.project }}
                            </li>
                        {% endif %}

                        {% if task.due %}
                            <li class="{% if task.due < date() %}red{% endif %}">
                                <i class="fa fa-hourglass-half"></i> <date>{{ task.due }}</date>
                            </li>
                        {% endif %}

                        {% for tag in task.tags %}
                            <li>
                                <i class="fa fa-tag"></i> {{ tag }}
                            </li>
                        {% endfor %}

                        </ul>
                    </div>
            </a>
            </li>
        {% else %}
            <li>
            <a href="#" class="list-group-item disabled">
                <h4 class="list-group-item-heading">No tasks found</h4>
            </a>
            </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
