{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="hidden-xs hidden-sm">
        {% include 'AppBundle:List:_search.html.twig' %}
    </div>

    <div class="list-group">
        {% for task in tasks %}
            {% set urgency = "low" %}
            {% if task.urgency > urgency_threshold.high %}
                {% set urgency = "high" %}
            {% elseif task.urgency > urgency_threshold.medium %}
                {% set urgency = "medium" %}
            {% endif %}
            <a href="{{ path('task_info', {id: task.uuid}) }}"
               class="list-group-item urgency-{{ urgency }} modal-ajax  {% if task.start %}list-group-item-warning{% endif %}">

                <h4 class="list-group-item-heading">

                    {% if task.pending %}
                        <i class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="pending"></i>
                    {% elseif task.completed %}
                        <i class="glyphicon glyphicon-ok" data-toggle="tooltip" title="completed"></i>
                    {% elseif task.deleted %}
                        <i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="deleted"></i>
                    {% elseif task.waiting %}
                        <i class="glyphicon glyphicon-time" data-toggle="tooltip" title="waiting"></i>
                    {% elseif task.isRecurring %}
                        <i class="glyphicon glyphicon-refresh" data-toggle="tooltip" title="recurring"></i>
                    {% endif %}

                    {{ task.description }}

                </h4>

                <p class="list-group-item-text">
                    {% if task.project %}
                        <span class="label label-success">Project: {{ task.project }}</span>
                    {% endif %}

                    {% if task.due %}
                        <span class="label {% if task.due > date() %}label-warning{% else %}label-danger{% endif %}">
                            Due: <date>{{ task.due }}</date></span>
                    {% endif %}

                    {% for tag in task.tags %}
                        <span class="label label-default">{{ tag }}</span>
                    {% endfor %}
                </p>

            </a>
        {% else %}
            <a href="#" class="list-group-item disabled">
                <h4 class="list-group-item-heading">No tasks found</h4>
            </a>
        {% endfor %}
    </div>

{% endblock %}
