{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {{ form(form) }}

    <a href="{{ path('task_add') }}" class="btn btn-primary">new</a>

    <div class="list-group">
        {% for task in tasks %}
        <a href="{{ path('task_info', {id: task.uuid}) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ task.description }}</h4>
            <p class="list-group-item-text">
                {% for tag in task.tags %}
                    <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </p>
        </a>
        {% endfor %}
    </div>

{% endblock %}
