<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>doThings!</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/all.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% set nav = render(controller('AppBundle:Default:navigation')) %}


<div id="st-container" class="st-container st-effect-7">

    <div class="st-pusher">

        <nav class="st-menu st-effect-7" id="menu-1">
            {{ nav|raw }}
        </nav>

        <div class="st-content">
            <div class="st-content-inner">

                {% block body %}

                    <div class="brand">
                        <a href="#" class="btn btn-primary btn-nav hidden-md hidden-lg">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </a>
                        doThings!<br/>
                        <a href="{{ path('task_add') }}" class="btn btn-primary modal-ajax">Create Task</a>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 hidden-xs hidden-sm">{{ nav|raw }}</div>
                            <div class="col-md-8">{% block content %}{% endblock %}</div>
                        </div>
                    </div>

                {% endblock %}

            </div>
        </div>
    </div>
</div>


<script src="{{ asset('js/script.js') }}"></script>
</body>
</html>