{% extends 'AppBundle::modal.html.twig' %}

{% block content %}
    <h1>{{ task.description }}</h1>

    <table class="table">
        <tr>
            <td>Uuid</td>
            <td>{{ task.uuid }}</td>
        </tr>
        <tr>
            <td>Project</td>
            <td>{{ task.project|default('-') }}</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{ task.priority|default('-') }}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>{{ task.tags|join(', ')|default('-') }}</td>
        </tr>
        <tr>
            <td>Due</td>
            <td>{{ task.due|default('-') }}</td>
        </tr>
        <tr>
            <td>Wait</td>
            <td>{{ task.wait|default('-') }}</td>
        </tr>
        <tr>
            <td>Recurring</td>
            <td>{{ task.recurring|default('-') }}</td>
        </tr>
        <tr>
            <td>Until</td>
            <td>{{ task.until|default('-') }}</td>
        </tr>
        <tr>
            <td>Urgency</td>
            <td>{{ task.urgency|default('-') }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ task.status|default('-') }}</td>
        </tr>
        <tr>
            <td>Entry</td>
            <td>{{ task.entry|default('-') }}</td>
        </tr>
        <tr>
            <td>Modified</td>
            <td>{{ task.modified|default('-') }}</td>
        </tr>
        <tr>
            <td>End</td>
            <td>{{ task.end|default('-') }}</td>
        </tr>
    </table>

    {% if task.pending %}
        <a href="{{ path('task_done', {id: task.uuid}) }}" class="btn btn-success modal-ajax">Done</a>
        <a href="{{ path('task_edit', {id: task.uuid}) }}" class="btn btn-warning modal-ajax">Edit</a>
        <a href="{{ path('task_delete', {id: task.uuid}) }}" class="btn btn-danger modal-ajax">Delete</a>
    {% elseif task.recurring %}
        <a href="{{ path('task_edit', {id: task.uuid}) }}" class="btn btn-warning modal-ajax">Edit</a>
        <a href="{{ path('task_delete', {id: task.uuid}) }}" class="btn btn-danger modal-ajax">Delete</a>
    {% else %}
        <a href="{{ path('task_reopen', {id: task.uuid}) }}" class="btn btn-warning modal-ajax">Reopen</a>
    {% endif %}

{% endblock %}
