{% extends 'AppBundle::modal.html.twig' %}

{% block content %}
    <h1>

        {% if task.pending or task.waiting %}
            <a href="{{ path('task_done', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax" data-toggle="tooltip"
               data-placement="bottom" title="done">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        {% endif %}

        {% if task.pending or task.waiting or task.isRecurring() %}
            <a href="{{ path('task_edit', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax" data-toggle="tooltip"
               data-placement="bottom" title="edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="{{ path('task_delete', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax"
               data-toggle="tooltip" data-placement="bottom" title="delete">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        {% else %}
            <a href="{{ path('task_reopen', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax"
               data-toggle="tooltip" data-placement="bottom" title="reopen">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        {% endif %}

    </h1>

    <table class="table">
        <tr>
            <td>Uuid</td>
            <td>{{ task.uuid }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <td>Project</td>
            <td>{{ task.project|default('-') }}</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{ task.priority|default('-') }}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>{{ task.tags|join(', ')|default('-') }}</td>
        </tr>
        <tr>
            <td>Due</td>
            <td>{{ task.due|default('-') }}</td>
        </tr>
        <tr>
            <td>Wait</td>
            <td>{{ task.wait|default('-') }}</td>
        </tr>
        <tr>
            <td>Recurring</td>
            <td>{{ task.recurring|default('-') }}</td>
        </tr>
        <tr>
            <td>Until</td>
            <td>{{ task.until|default('-') }}</td>
        </tr>
        <tr>
            <td>Urgency</td>
            <td>{{ task.urgency|default('-') }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ task.status|default('-') }}</td>
        </tr>
        <tr>
            <td>Entry</td>
            <td>{{ task.entry|default('-') }}</td>
        </tr>
        <tr>
            <td>Modified</td>
            <td>{{ task.modified|default('-') }}</td>
        </tr>
        <tr>
            <td>End</td>
            <td>{{ task.end|default('-') }}</td>
        </tr>
    </table>
{% endblock %}
