{% extends 'AppBundle::modal.html.twig' %}

{% block content %}
    <h1>

        {% if task.pending or task.waiting %}
            <a href="{{ path('task_done', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax" data-toggle="tooltip"
               data-placement="bottom" title="done">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        {% endif %}

        {% if task.pending or task.waiting or task.isRecurring() %}
            <a href="{{ path('task_edit', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax" data-toggle="tooltip"
               data-placement="bottom" title="edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="{{ path('task_delete', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax"
               data-toggle="tooltip" data-placement="bottom" title="delete">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        {% else %}
            <a href="{{ path('task_reopen', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax"
               data-toggle="tooltip" data-placement="bottom" title="reopen">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        {% endif %}

        &nbsp;

        {% if task.start %}
            <a href="{{ path('task_stop', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax"
               data-toggle="tooltip" data-placement="bottom" title="stop activity">
                <span class="glyphicon glyphicon-stop"></span>
            </a>
        {% else %}
            <a href="{{ path('task_start', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax"
               data-toggle="tooltip" data-placement="bottom" title="start working on this">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        {% endif %}

        &nbsp;

        {% if not task.waiting %}
            <div class="btn-group">
                <a href="{{ path('task_do_wait', {id: task.uuid, duration: "1day"}) }}" class="btn btn-secondly modal-ajax"
                   data-toggle="tooltip" data-placement="bottom" title="wait until tomorrow">
                    +1d
                </a>
                <a href="{{ path('task_do_wait', {id: task.uuid, duration: "1week"}) }}" class="btn btn-secondly modal-ajax"
                   data-toggle="tooltip" data-placement="bottom" title="wait until next week">
                    +1w
                </a>
            </div>
        {% else %}
            <a href="{{ path('task_do_wait', {id: task.uuid}) }}" class="btn btn-secondly modal-ajax"
               data-toggle="tooltip" data-placement="bottom" title="remove waiting status">
                now
            </a>
        {% endif %}

    </h1>
    <h2>{{ task.description }}</h2>

    <table class="table">
        <tr>
            <td>Tags</td>
            <td>
                {% for tag in task.tags %}
                <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Project</td>
            <td>{{ task.project|default('-') }}</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{ task.priority|default('-') }}</td>
        </tr>
        <tr>
            <td>Due</td>
            <td><date>{{ task.due|default('-') }}</date></td>
        </tr>
        <tr>
            <td>Wait</td>
            <td><date>{{ task.wait|default('-') }}</date></td>
        </tr>
        <tr>
            <td>Recurring</td>
            <td>{{ task.recurring|default('-') }}</td>
        </tr>
        <tr>
            <td>Until</td>
            <td><date>{{ task.until|default('-') }}</date></td>
        </tr>
        <tr>
            <td>Urgency</td>
            <td>{{ "%.2f"|format(task.urgency) }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ task.status|default('-') }}</td>
        </tr>
        <tr>
            <td>Entry</td>
            <td><date>{{ task.entry|default('-') }}</date></td>
        </tr>
        <tr>
            <td>Modified</td>
            <td><date>{{ task.modified|default('-') }}</date></td>
        </tr>
        <tr>
            <td>End</td>
            <td><date>{{ task.end|default('-') }}</date></td>
        </tr>
        <tr>
            <td>Uuid</td>
            <td>{{ task.uuid }}</td>
        </tr>
    </table>
{% endblock %}
