{% import _self as _ %}

<nav class="main">
    <ul>
        {{ _.section('Reports', reports, 'fa-arrow-circle-right') }}
        {{ _.section('Projects', projects, 'fa-folder-open') }}
        {{ _.section('Tags', tags, 'fa-tag') }}
    </ul>
</nav>

{% macro section(header, list, icon) %}
    {{ header }}
    <ul>
    {% for label,data in list %}
        <li>
            <a href="{{ data.url }}">
                <i class="fa {{ icon }}"></i>
                <span class="badge">{{ data.count }}</span>
                <span class="label">{{ label }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
