{% import _self as _ %}

<ul class="menu list-unstyled">
    {{ _.section('Reports', reports) }}
    {{ _.section('Projects', projects) }}
    {{ _.section('Tags', tags) }}
</ul>

{% macro section(header, list) %}
    {% if list|length %}
        <li class="header">{{ header }}</li>

        {% set last_label = '' %}
        {% for label,data in list %}
            <li>
                <a href="{{ data.url }}">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="badge bg-primary">{{ data.count }}</span>
                    {% if last_label|length > 0 and label starts with last_label %}
                        <span class="quiet">{{ last_label }}</span>{{ label|replace({(last_label): ""}) }}
                    {% else %}
                        {{ label }}
                    {% endif %}
                </a>
            </li>
            {% set last_label = label %}
        {% endfor %}

    {% endif %}
{% endmacro %}
