{% import _self as _ %}

<nav>
    <ul>
        {{ _.section('Reports', reports) }}
        {{ _.section('Projects', projects) }}
        {{ _.section('Tags', tags) }}
    </ul>
</nav>

{% macro section(header, list) %}
    {{ header }}
    <ul>
    {% for label,data in list %}
        <li>
            <a href="{{ data.url }}">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="badge">{{ data.count }}</span>
                {{ label }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
