{% import _self as _ %}

<ul class="menu list-unstyled">
    {{ _.section('Lists', lists) }}
    {{ _.section('Projects', projects) }}
    {{ _.section('Tags', tags) }}
</ul>

{% macro section(header, list) %}
    {% if list|length %}
        <li class="header">{{ header }}</li>

        {% for label,data in list %}
            <li>
                <a href="{{ data.url }}">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="badge bg-primary">{{ data.count }}</span>
                    {{ label }}
                </a>
            </li>
        {% endfor %}

    {% endif %}
{% endmacro %}
