{% import _self as _ %}

<nav class="main">
    <ul>
        {{ _.section('Reports', reports) }}
        {{ _.section('Projects', projects) }}
        {{ _.section('Tags', tags) }}
    </ul>
</nav>

{% macro section(header, list) %}
    {{ header }}
    <ul>
    {% for label,data in list %}
        <li>
            <a href="{{ data.url }}">
                <i class="fa fa-arrow-circle-right"></i>
                <span class="badge">{{ data.count }}</span>
                <span class="label">{{ label }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
