<div class="panel panel-default">

    <div class="panel-heading">Lists</div>

    <div class="list-group">
        {% for label,data in lists %}
            <a href="{{ data.url }}" class="list-group-item">
                <span class="badge">{{ data.count }}</span>
                {{ label }}
            </a>
        {% endfor %}
    </div>

    <div class="panel-heading">Projects</div>

    <div class="list-group">
        {% for label,data in projects %}
            <a href="{{ data.url }}" class="list-group-item">
                <span class="badge">{{ data.count }}</span>
                {{ label }}
            </a>
        {% endfor %}
    </div>

    <div class="panel-heading">Tags</div>

    <div class="list-group">
        {% for label,data in tags %}
            <a href="{{ data.url }}" class="list-group-item">
                <span class="badge">{{ data.count }}</span>
                {{ label }}
            </a>
        {% endfor %}
    </div>

</div>
